#contact1{
    margin: 50px auto;
    width: 90%;
}
#contact1 hr{
    width: 15%;
    border: 3px solid #0A8D47;
    text-align: left;
    border-radius: 50px;
    margin-right: 100%;
    margin-bottom: -3%;
}

#contact1 h1{
    width: 100%;
    text-align: left;
    border-radius: 50px;
    font-weight: lighter;
    font-size: clamp(2rem,4vw,6rem);
}
#contact1 h3{
    width: 100%;
    text-align: left;
    font-weight: lighter;
    font-size: clamp(1rem,2.5vw,4rem);
    text-align: center;
}
#contact1>div:last-of-type{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#contact1>div:last-of-type>div:first-of-type{
    width: 50%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#contact1>div:last-of-type>div:first-of-type img{
    width: 80%;
    

}
#contact1>div:last-of-type>div:last-of-type{
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact1>div:last-of-type>div:last-of-type div{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}
#contact1>div:last-of-type>div:last-of-type img{
    width: 30px;
}
#contact1>div:last-of-type>div:last-of-type p{
    
    text-align: left;
    font-size: 1rem;
    font-weight: lighter;
    font-size: clamp(1rem,1.5vw,3rem);
}
@media (max-width: 900px)  {
    #contact1>div:last-of-type{
        flex-direction: column;
    }
    #contact1>div:last-of-type>div:first-of-type{
        justify-content: center;
    }
    #contact1>div:last-of-type>div:last-of-type div{
        justify-content: center;
    }
}